/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rajdhani:wght@300&family=Roboto:wght@300&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --purple: #3f50a9;
  --purple-light: #6279ee;
  --pink: #f5a1c9;
  --white: #fff;
  --gradient: linear-gradient(to right, #f5a1c9, #8472f3);
  --ff-primary: "Roboto", sans-serif;
  --ff-title: "DM Serif Display", serif;
  --ff-subtitle: "Rajdhani", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --radius2: 40px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--purple);
  color: var(--white);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  line-height: 1;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3.5rem;
  font-family: var(--ff-title);
  color: var(--pink);
}
h2 {
  font-size: 3rem;
  color: var(--purple-light);
}
h3 {
  font-size: 1.5rem;
  font-family: var(--ff-subtitle);
  text-transform: capitalize;
}

p {
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

/*
=============== 
Global Classes
===============
*/
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 40px 20px;
}

.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: var(--white);
  color: var(--purple);
  font-size: 1.5rem;
  font-family: var(--ff-subtitle);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: var(--radius);
}

#copy-btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  color: var(--purple);
  font-size: 1.5rem;
}

#result {
  padding: 0 10px;
}

/*  Button Settings */
.show-settings {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 20px;
}

#show-settings-btn {
  color: var(--white);
  text-transform: capitalize;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
}

#show-settings-btn i {
  margin-right: 10px;
}

/* Hide Settings */

#collapse {
  transition: all 0.5s ease-in;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

#collapse.show {
  width: 100%;
  height: 380px;
  opacity: 1;
  overflow: hidden;
}

/* 
===========
Settings
===========
*/

.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  transform: translateY(-50%);
  font-weight: 800;
  color: var(--purple-light);
  text-transform: uppercase;
  font-size: 0.65rem;
  pointer-events: none;
  user-select: none;
}
.options {
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  margin: 30px 0;
}
.range__slider::before,
.range__slider::after {
  position: absolute;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 5px;
}
.range__slider::before {
  content: attr(data-min);
  left: 10px;
}
.range__slider::after {
  content: attr(data-max);
  right: 10px;
}
.range__slider .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: var(--white);
}
#slider {
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.712);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  transform: scale(1.2);
}
#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
  background: #d4d4d4;
}

/* Checkboxes */

.settings {
  position: relative;
  height: auto;
  widows: 100%;
  display: flex;
  flex-direction: column;
}
.settings .setting {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #fff;
  margin-bottom: 8px;
}
.settings .setting input {
  opacity: 0;
  position: absolute;
}
.settings .setting input + label {
  user-select: none;
}
.settings .setting input + label::before,
.settings .setting input + label::after {
  content: "";
  position: absolute;
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.settings .setting input + label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: var(--purple);
}
.settings .setting input + label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
}
.settings .setting input:checked + label:before {
  background: var(--pink);
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}
.settings .setting input:checked + label:after {
  right: 14px;
}
.settings .setting input:focus + label:before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}
.settings .setting input:disabled + label:before,
.settings .setting input:disabled + label:after {
  cursor: not-allowed;
}
.settings .setting input:disabled + label:before {
  background: #ad738f;
}
.settings .setting input:disabled + label:after {
  background: #b4b4b4;
}

/* Generate button */

#generate {
  border: 0;
  outline: 0;
  background: var(--gradient);
  color: var(--white);
  font-size: 1.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 36px;
  border-radius: var(--radius2);
  cursor: pointer;
  box-shadow: var(--dark-shadow);
  position: relative;
  transition: var(--transition);
}

#generate i {
  margin-right: 16px;
}

#generate:active {
  top: 2px;
  box-shadow: none;
}

/* Copied alert */

.copy-text {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}
.copy-text input.text {
  padding: 10px;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
}
.copy-text button {
  padding: 10px;
  background: #5784f5;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.copy-text button:active {
  background: #809ce2;
}
.copy-text button:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}
.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display: block;
}
