*, *:before, *:after {
   box-sizing: inherit;
  }

html {
   box-sizing: border-box;
    overflow-x: hidden;
  }

body, p, ul, li {
    margin: 0;
    padding: 0;  
    font-family: 'Raleway', sans-serif;

}

/*===== Início do menu =====*/

header {
    background-color: #252420;
    height: 70px;
    width: 100vw;
    border-style: solid;
    border-width: 5px 0 0 0;
    border-image: linear-gradient(45deg, #BEA960, #F1AB5C) 1;
    position: fixed; 
    z-index: 10;
    transition: top 0.3s;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90vw;
    margin: auto;
    height: 70px;
}

#logo {
    width: 180px;
    height: auto;
    
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu li a { /* Para deixar uma área de clique um pouco maior */
    display: block;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;  
    font-size: 0.8rem;
}

#menu a:hover {
    color: #bbaa5c;
}

.social {
    display: flex;
    gap: 10px;
}

.social img {
    width: 22px;
}

#btn-mobile {
    display:none;
}
/*===== Fim do menu =====*/

#home-intro {
    background-image: url(imgs/home/ouvindo-musica-small.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*===== Home mouse wheel =====*/

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;

  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

  /*===== Fim Home mouse wheel =====*/

#home-about {
    margin: 0;
    width: 100vw; 
    height: 100vh;
    background-color: #E4DFD5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    
}

#home-about-container1 {
  max-width: 80%;  
  height: auto;
}

#home-about-container2 {
  max-width: 400px;
  height: auto;

}

#home-portfolio {
  margin: 0 auto;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-portfolio-container1 {
  width: 50%;
  height: 100%;
  padding: 0 30px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

#home-about-container2 p,
#home-portfolio-container1 p, 
#home-shows-container2 p {
  text-align: justify;
  text-justify: inter-word;
  max-width: 500px;
  margin: 30px auto;
}

#home-portfolio-container1 h1, 
#home-shows-container2 h1, 
button {
  margin: 50px 0;
}

#home-portfolio-container2 {
  height: auto;  
}

/*===== Slider Portfolio Start =====*/

.slider-port {
  margin: 0 auto;
  max-width: 700px;
  height: auto;
  overflow: hidden;
 
}

.slides-port {
  width: 400%;
  height: auto;
  display: flex;
}

.slides-port input {
  display: none;
}

.slide-port {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide-port img {
  width: 100%;
}


.manual-navigation {
  position: absolute;
  width: 700px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
} 

.manual-btn:hover {
  background-color: #fff;
}



#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 660px;
  display: none;
  justify-content: center;
  border: 2px solid red;

}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

/*===== Slider Portfolio End =====*/

#home-clients-container1 {
  padding: 4rem;
  background-color: #252420;
  color: #bbaa5c;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;  
}

/*======= Slider dos logotipos ======*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 80px;
  margin: 0 40px;
}
/*======= Fim Slider dos logotipos ======*/

#home-parallax2 {
  background-image: url(imgs/home/home-parallax2.svg);
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45em;
  background-color: #252420;
}

#home-shows {
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: #E4DFD5;
}

#home-shows-container1 {
  width: 50%;
  height: 100%;  
}

#home-shows-container1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-shows-container2 {
  width: 50%;
  min-width: 350px; 
  padding: 0 30px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

#home-contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FBC36D;
}

#home-contact-container1 {
  width: 50%;
  height: 800px;  
}

#home-contact-container2 {
  width: 50%;
  text-align: center;
}

#home-contact-container1 img {
  width: 100%;
  height: 100%;
  max-width: fit-content;
  object-fit: cover;
  margin: auto;
  display: block;
}

#home-contact-container2 h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 4rem;
  color: #F47B62;
  padding: 0;
  margin: 1rem 0;
}

#home-contact-container2 a {
  font-size: .9rem;
  color: #252420;
}

#home-contact-container2 a:hover {
  font-size: .9rem;
  color: #fff;
}

footer {
  width: 100vw;
  height: 540px;
  background-color: #252420;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 2rem 0;  
  color: #bbaa5c;
  font-size: .7rem;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-bottom: 6rem;
}

.contact-footer {
  margin: 3rem 0;

}

.contact-footer a {
  font-size: .9rem;
  color: #E4DFD5;
}

.privacy-footer a {

  color: #E4DFD5;
} 

.contact-footer a:hover, .privacy-footer a:hover {
  color: #bbaa5c;
}

.social-footer {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
 gap: 10px;
}

/*=============== About ===============*/

#about-body {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #252420;
  color: #fff;
}

.about-body-container1 {
  width: 30%;
  text-align: center; 
}

.about-body-container2 {
  width: 50%;
  height: 100%;
  margin: 5rem 2rem 0;
}

.about-body-container2 p{
  padding: 1rem 0;
  max-width: 600px;
}

.link-dark {
  color: #bbaa5c;
}

.link-dark:hover {
  color: #E4DFD5;
}

.about-body-container1 h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.about-body-container2 h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
/*=============== Shows page ===============*/

#current-show {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8rem;
  background-color: #141628;
}

.shows-container1 {
  width: 50%;
  color: #fff;
  display: flex;
  justify-content:right;
}

.shows-container2 {
  width: 50%;

}

.shows-container2 img{
  width: 90%;
  height: auto;
}

.shows-container1-info {
  width: 240px;
}

.shows-container1-info hr {
  width: 50px;
  border-top: 2px solid #BEA960;
  margin: 0;
}

.shows-container1-info p {
  padding: .5rem 0;
  font-size: .9rem;
}

.shows-container1-info h2 {
  font-size: 3rem;
}

.shows-container-img {
  text-align: center;
  padding: 2rem 0;
}

.shows-container1-info img {
  width: 3rem;
  margin: auto;
}

#past-shows {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBF6EB;
}

.past-shows-container1 {
  width: 30%;
  text-align: center; 
}

.past-shows-container2 {
  width: 50%;
  height: 100%;
  margin: 5rem 2rem 0;
  padding-bottom: 3rem;
}

.past-shows-container2 li{
  padding-bottom: 1rem;
}

.past-shows-container1 h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}


/*=============== Contact page ===============*/

#contact-bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/portfolio/parallax.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #252420;
}

.contact-box {
  width: 80%;
  max-width: 1250px;
  height: 80%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.contact-container1 {
  width: 30%;
  height: 100%;
  background-image: url(imgs/geral/contato.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 4px 0 0 4px;
}

.contact-infos {
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: .9rem;
}

.contact-email, .contact-phone {
  margin: .7rem;  
}

.contact-email a, .contact-phone a {
  color: #fff;
}

.contact-email a:hover, .contact-phone a:hover {
  color: rgba(255, 255, 255, 0.4);
}

.fa-envelope, .fa-brands {
  padding: 0 .6rem;
}

.contact-container2 {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  text-align: center; 
}

.form-container h2 {
  margin-bottom: 2rem;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 250px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
}

input,
textarea,
select {
  margin: 0 0 10px 0;
  width: 100%;
  min-height: 2em;
  padding: 0 10px;
}

input {
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid #BEA960;
  color: #252420; 
}

textarea {
  background-color: #fff;
  border: 2px solid #BEA960;
  color: #252420;
}

.submit {
  transition: all 0.2s ease, visibility 0s;
  border-radius: 0;
  background-color: #252420;
  border: 0;
  color: #bbaa5c;
  min-height: 3em;
  cursor: pointer;
}

.submit:hover {
  color: #fff;
  background: #BEA960;
}

#thank-you-message {
  display: none;
}

#thank-you-message.show {
  display: block;
  color: #252420;
}

/*=============== Terms & Policy ===============*/

#parallax-terms {
  background-image: url(imgs/portfolio/parallax.svg);
  width: 100vw;
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #252420;
}

/*=============== general ===============*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.left {
  float: left;
  width: 48%
}

.right {
  float: right;
  width: 50%;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 5rem;
  color: #BEA960;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 2rem;
  color: #BEA960;
  padding: 0;
  margin: 0;
}

hr {
  display: block;
  width: 200px;
  border: 0;
  border-top: 3px solid #BEA960;
  margin: 4rem 0;
  padding: 0;
}

.hr-red {
  display: block;
  width: 20px;
  border: 0;
  border-top: 3px solid #F47B62;
  margin: 1rem auto;
  text-align: center;
}

.vertical-line {
  display: block;
  width: 1px;
  height: 120px;
  border: 0;
  border-right: 2px solid #BEA960;
  margin:auto;
  text-align: center;
}

.vertical-line-red {
  display: block;
  width: 1px;
  height: 120px;
  border: 0;
  border-right: 2px solid #F47B62;
  margin:auto;
  text-align: center;
}

button {
  transition: all 0.2s ease, visibility 0s;
  border-radius: 0;
  border: 2px solid #BEA960;
  background: #BEA960;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 10px 16px;
  margin: 50px 0;
  cursor: pointer;
  
}
button:hover {
  color: #BEA960;
  background: rgba(255,255,255,0);
}

/*=============== Início do Media Query ===============*/

@media (max-width: 992px) {
/*===== Menu =====*/
    .social {
        display: none;
    }

    #menu{
       display: block;
       position: absolute;
       width: 100%;
       top: 65px;
       right: 0px;
       background: #252420;
       height: 0px;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
       z-index: 1000;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #bbaa5c;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        border: none;
        background: none;
        cursor: pointer;
        color: #252420;
        gap: .5rem;
    }

    #hamburger {
        width: 20px;
        height: 2px;
        border-top: 2px solid;
        color: #bbaa5c;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent ;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }


/*===== Início Main =====*/

#home-intro {
  background-attachment: scroll;
} 

#home-about {
  margin: 0;
  width: 100vw; 
  height: auto;
  display: block;
  text-align: center;
  }

  #home-about-container1 {
   padding-top: 1rem;
  }

  #home-about-container2 {
    width: 100%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 0 2rem;
  }

  #home-about-container2 hr {
   
    text-align: center;
    vertical-align: middle;
    margin: 2rem auto;
  }

  #home-about-container2 h1 {
    font-size: 4rem;
  }

  #home-portfolio {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    
  }
  
  #home-portfolio-container1 {
    width: 50%;
    height: auto;
    min-width: 350px; 
    padding: 0 30px;
    margin:auto;
    text-align: center;
    vertical-align: middle;
  }

  #home-portfolio-container2 {
    width: 100%;
    height: auto;
  }

  .manual-navigation {
    width: 100%;
    max-width: 700px;
  }

  #home-shows {
    width: 100vw; 
    height: auto;
    display: block;
  }

  #home-shows-container1 {
    width: 100%;
  }

  #home-shows-container2 {
    width: 50%;
    height: auto;
    min-width: 350px; 
    padding: 0 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }

  
/*========== ABOUT.html ==========*/
  #about-body {
    display: block;
  }

  .about-body-container1 {
    padding: 0 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .about-body-container2 {
    padding: 0 3rem;
    margin: auto;
    width: 100%; 
    vertical-align: middle;
    height: 100%;
  }

  .about-body-container2 p {
    text-align: justify;
    text-justify: inter-word;
  }

/*========== SHOWS.html ==========*/

#current-show {
  width: 100%;
  display: block;
  height: 100%;
  padding-bottom: 4rem;
}


.shows-container1 {
  width: 100%;
  color: #fff;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.shows-container2 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
}

.shows-container2 img{
  width: 90%;
  height: auto;
}

#past-shows {
  display: block;
}

.past-shows-container1 {
  padding: 0 30px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.past-shows-container2 {
  padding: 0 3rem 3rem;
  margin: auto;
  width: 100%; 
  vertical-align: middle;
  height: 100%;
}

/*========== CONTACT.html ==========*/
  
  .contact-container1 {
    width: 100%;
  }
  .contact-container2 {
    display: none;
  }

/*========== Press & Privacy ==========*/

  #parallax-terms {
    min-height: 300px;
  }

}