/*
=============== 
FONTS
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Caprasimo&family=Pacifico&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --bg-blue: #263dbf;
  --bg-yellow: #dbd03c;
  --bg-green: #3cdb99;
  --lighter-blue: #15d8f2;
  --strong-blue: #344696;
  --white: #fff;
  --black: #000000;
  --btn1-gradient: linear-gradient(to right, black 50%, #dbd03c 50%);
  --btn2-gradient: linear-gradient(to right, black 50%, #3cdb99 50%);

  --ff-corpo: 'Inter', sans-serif;
  --ff-header: 'Danfo', serif;
  --ff-destaques: 'League Spartan', sans-serif;
  --ff-logo1: 'Caprasimo', cursive;
  --ff-logo2: 'Pacifico', cursive;

  --transition: all 0.2s ease-out;
  --spacing: 0.15rem;
  --line-height: 1.6;
  --radius-light: 0.5rem;
  --radius-circle: 45px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1200px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-corpo);
  transition: background-color 1s ease;
  text-decoration: none;
}

.panel {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0 8%;
  margin-top: 8%;
}

/* Background Colours */

.color-blue {
  background-color: var(--bg-blue);
}
.color-green {
  background-color: var(--bg-green);
}
.color-yellow {
  background-color: var(--bg-yellow);
}

/* Header Text animation */

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 1800;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Card animation */

.card-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card-animate.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/*
=============== 
INTRO
===============
*/

.section-container {
  width: 100%;
}

.intro-title-small {
  font-family: var(--ff-header);
  font-size: 8vw;
  color: var(--lighter-blue);
}

.intro-title-big svg path {
  fill: transparent;
  stroke: var(--lighter-blue);
  stroke-width: 4;
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: textAnimation 4s ease-in-out forwards;
}

.header-container {
  position: relative;
}

.intro-title-big {
  position: relative;
  z-index: 2;
}

.selfie {
  width: 50vw;
  max-width: 700px;
  margin: -60px 0 5% 15%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  z-index: 1;
}

.intro-content {
  max-width: 800px;
  margin-left: 35%;
  margin-top: 2rem;
}

.intro-content h1 {
  font-family: var(--ff-destaques);
  font-size: clamp(30px, 5vw, 70px);
  color: var(--white);
  line-height: 110%;
}

.intro-content h1 span {
  color: var(--lighter-blue);
}

.intro-content p {
  color: var(--white);
  font-size: clamp(16px, 2vw, 26px);
  line-height: 130%;
}

/* Hidden text */

.collapsible {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, var(--bg-blue));
}

.read-more {
  border-radius: 45px;
  border: solid 2px var(--lighter-blue);
  background: var(--bg-blue);
  text-align: center;
  color: var(--white);
  padding: 12px 24px;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease;
}

.read-more:hover {
  color: var(--lighter-blue);
}

.read-more:active {
  transform: scale(0.95);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.hidden-content {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  position: relative;
}

.hidden-content p {
  margin: 1rem 0;
}

ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 20px;
  color: var(--white);
  font-size: clamp(16px, 2vw, 26px);
}

li {
  margin-bottom: 25px;
}

/* Toogle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #3aca32;
  border-radius: 34px;
}

.slider:before {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  left: 31px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
}

.open-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 5rem 0;
}

.open-container h2 {
  color: #3aca32;
  font-family: var(--ff-destaques);
  font-size: 3rem;
}

/* Expert Fields */

.expert-fields {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.expert-fields hr {
  border: 2px solid #3972cf;
  margin: 0.5rem 0 1.5rem;
}

.expert-fields-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.field {
  border: 2px solid var(--lighter-blue);
  border-radius: 10px;
  background: none;
  text-align: center;
  color: var(--lighter-blue);
  padding: 13px 25px;
  white-space: nowrap;
  box-sizing: border-box;
}

/*
=============== 
WORKS
===============
*/

.works-title-small {
  font-family: var(--ff-header);
  font-size: 8vw;
  color: var(--black);
}

.works-title-big svg path {
  fill: transparent;
  stroke: var(--black);
  stroke-width: 4;
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  animation: textAnimation 4s ease-in-out forwards;
}

/* NEW Cards */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-top: 6rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}

.card {
  width: 100%;
  max-width: 600px;
  background: transparent;
  border: 3px solid black;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 750px;
  box-shadow: 10px 10px;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 383px;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.slider-images {
  display: flex;
  transition: transform 0.3s ease;
  height: 100%;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 20px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-logo1);
}

.slider-arrow.prev {
  left: 1rem;
}

.slider-arrow.next {
  right: 1rem;
}

.zoom-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-icon {
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.card-description {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.visit-btn {
  width: 100%;
  padding: 1rem;
  background: black;
  color: #dad03b;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.visit-btn:hover {
  background: none;
  color: black;
  box-shadow: 6px 6px;
}

.visit-btn:active {
  box-shadow: 3px 3px;
  transform: translateY(3px);
}

.visit-btn a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-image {
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-corpo);
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
    min-height: auto;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-description {
    font-size: 1rem;
  }

  .visit-btn {
    font-size: 1.25rem;
  }
}

/*
=============== 
Contact
===============
*/

.contact-title-small {
  font-family: var(--ff-header);
  font-size: 8vw;
  color: var(--strong-blue);
}

.contact-title-big svg path {
  fill: transparent;
  stroke: var(--strong-blue);
  stroke-width: 4;
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  animation: textAnimation 4s ease-in-out forwards;
}

/* Body */

.contact-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.contact-parent p {
  color: var(--strong-blue);
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
}

/* Email button */
.contact-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--white);
  font-family: var(--ff-destaques);
  font-weight: 500;
  font-size: clamp(25px, 5vw, 70px);
  letter-spacing: 0.1em;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  margin: 3rem 0;

  &:before {
    content: '';
    background: linear-gradient(to right, #344696 50%, #3cdb99 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    position: absolute;
    top: -16px;
    left: -16px;
    width: 0;
    height: 100%;
    padding: 16px;
    transition: width 0.2s ease-in-out, background-position 0.1s ease-in-out;
    z-index: -1;
    box-sizing: unset;
  }

  &:hover:before {
    width: 100%;
    background-position: left bottom;
  }

  &:hover {
    color: #3cdb99;
  }
}

/* Social links */
.contact-social {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 350px;
}

.contact-social .icon {
  cursor: pointer;
  width: 100%;
  max-height: 36px;
}

.contact-social .icon path {
  transition: fill 0.4s;
  fill: var(--strong-blue);
}

.contact-social .icon:hover path {
  fill: var(--white);
}

/*
=============== 
MEDIA QUERY
===============
*/

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  /* INTRO */

  .selfie {
    width: 100%;
    margin: 12% 0;
  }

  .intro-content {
    margin-left: 0;
    margin-top: 2rem;
  }

  /* Toogle switch*/
  .switch {
    width: 50px;
    height: 24px;
  }

  .slider {
    width: 50px;
    height: 24px;
    border-radius: 34px;
  }

  .slider:before {
    height: 20px;
    width: 20px;
    left: 27px;
    bottom: 2px;
  }

  .open-container {
    margin: 3rem 0;
  }

  .open-container h2 {
    font-size: 1.5rem;
  }

  /* WORKS */

  .text-block {
    display: block;
  }

  .works-btn svg {
    width: 26px;
  }

  .gallery {
    grid-template-columns: 1fr; /* Apenas uma coluna em telas muito pequenas */
  }

  /* Contact */
  .contact-social .icon {
    max-height: 26px;
  }
  .contact-parent p {
    font-size: 12px;
  }
}

/* Gallery */

@media (max-width: 1219px) {
  .gallery-item:nth-child(3) {
    display: none;
  }
}

.open-container h2 {
  font-size: 2rem;
}

@media (max-width: 799px) {
  .gallery-item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 450px) {
  .gallery {
    margin-top: 2rem;
  }

  .contact-social .icon {
    max-height: 20px;
  }

  .intro-title-big svg path {
    stroke-width: 6;
  }
  .works-title-big svg path {
    stroke-width: 6;
  }
  .contact-title-big svg path {
    stroke-width: 6;
  }

  .open-container h2 {
    font-size: 1.2rem;
  }

  .expert-fields {
    margin-bottom: 5rem;
  }

  .contact-parent p {
    font-size: 10px;
  }

  .contact-btn {
    margin: 1rem 0;

    &:before {
      top: 0;
      left: 0;
      width: 0;

      padding: 0;
    }
  }
}
