*, *:before, *:after {
   box-sizing: inherit;
  }

html {
   box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
  }

body, p, ul, li {
    margin: 0;
    padding: 0;  
    font-family: 'Raleway', sans-serif;

}

body {
  height: 100%;
}

/*========== Menu ==========*/

header {
    background-color: #252420;
    height: 70px;
    width: 100vw;
    border-style: solid;
    border-width: 5px 0 0 0;
    border-image: linear-gradient(45deg, #BEA960, #F1AB5C) 1;
    position: fixed; 
    z-index: 10;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90vw;
    margin: auto;
    height: 70px;
}

#logo {
    width: 180px;
    height: auto;
    
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu li a { /* Para deixar uma área de clique um pouco maior */
    display: block;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;  
    font-size: 0.8rem;
}

#menu a:hover {
    color: #bbaa5c;
}

.social {
    display: flex;
}

.social img {
    width: 22px;
    margin-left: 10px;
}

#btn-mobile {
    display:none;
}

/*========== Main ==========*/

#parallax {
  background-image: url(imgs/portfolio/parallax.svg);
  width: 100vw;
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #252420;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  margin-bottom: 1rem;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

/* ====== Container Overlay ======= */
.container-overlay {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.image {
  display: block;
  margin-top: 16px;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #252420;
}

.show-overlay .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*========== Slideshows ==========*/
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6 {
  display: none;
}

.slideshow img {
  vertical-align: middle;
}

.slideshow {
  width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #252420;
  color: #ffff;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.info-box {
  width: 100%;
  margin: auto;
  background-color: #252420;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 3rem 0;
}

.info-box img {
  width: 40%;
  height: auto;
  margin-bottom: 2rem;
}

.info-box p {

  vertical-align: middle;
  text-align: justify;
  text-justify: inter-word;
  margin: 3rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1300px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  
  #parallax {
    min-height: 300px;
  }
}

/*========== Footer ==========*/

footer {
  width: 100vw;
  height: 540px;
  background-color: #252420;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 2rem 0;  
  color: #bbaa5c;
  font-size: .7rem;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-bottom: 6rem;
}

.contact-footer {
  margin: 3rem 0;

}

.contact-footer a {
  font-size: .9rem;
  color: #E4DFD5;
}

.privacy-footer a {

  color: #E4DFD5;
} 

.contact-footer a:hover, .privacy-footer a:hover {
  color: #bbaa5c;
}

.social-footer {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
}

.social-footer img {
  margin-left: 10px;
}

/*========== Geral ==========*/


h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-size: 5rem;
  color: #BEA960;
  padding: 0;
  margin: 0;
}

hr {
  display: block;
  width: 150px;
  border: 0;
  border-top: 2px solid #BEA960;
}

.vertical-line {
  display: block;
  width: 1px;
  height: 120px;
  border: 0;
  border-right: 2px solid #BEA960;
  margin:auto;
  text-align: center;
}

button {
  transition: all 0.2s ease, visibility 0s;
  border-radius: 0;
  border: 2px solid #BEA960;
  background: #BEA960;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 10px 16px;
  margin: 50px 0;
  cursor: pointer;
  
}
button:hover {
  color: #BEA960;
  background: rgba(255,255,255,0);
  
}

/*=============== Início do Media Query ===============*/

@media (max-width: 992px) {

/*===== Menu =====*/
    .social {
        display: none;
    }

    #menu{
       display: block;
       position: absolute;
       width: 100%;
       top: 65px;
       right: 0px;
       background: #252420;
       height: 0px;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
       z-index: 1000;
    }

    #nav.active #menu{
        height: calc(100vh - 65px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #bbaa5c;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        border: none;
        background: none;
        cursor: pointer;
        color: #252420;
        gap: .5rem;
    }

    #hamburger {
        width: 20px;
        height: 2px;
        border-top: 2px solid;
        color: #bbaa5c;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent ;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

/*========== Main ==========*/


/*========== Fim Main ==========*/
}